/*to check whether it was linked properly*/

.logo{
	margin-top: 5px;
    height: 50px;
    width: 80px;
    margin-left:10px ;
    
}
hr{
    color: black;
}
div{
    display: flex;
    text-align: center;
    
}
.nav{
    list-style-type: none;
    display: flex;
    position: absolute;
    right: 0;
    margin-right: 20px;
}
.nav .a{
   border:1px solid white;
    text-decoration: none;
    color: black;
    display: flex;
    margin-top: 14px;
    margin-left: 40px;
    justify-content: space-between;
    font-weight: 300;
    text-transform: uppercase;
    transition: text-decoration 1s ease ;
    
    border-radius: 5px;
    background-color: #ffffff;
    padding:18px;
   
}
.nav .ab{
    border:1px solid white;
     text-decoration: none;
     color: white;
     display: flex;
     margin-top: 14px;
     margin-left: 40px;
     justify-content: space-between;
     font-weight: 300;
     text-transform: uppercase;
     transition: text-decoration 1s ease ;
     padding: 15px;
     border-radius: 5px;
     backdrop-filter: blur(2px);
     
 }
 .nav .ab:focus{
     border: 1px solid black;
 }
@media screen and (max-width:650px){
    .nav .a{
        display: none;
    }
    .nav .ab{
        display: none;
    }
    .login{
        display: none;
        visibility: hidden;
        
    }
    .menu-bar{
        display: none;
        
    }
}
@media screen and (min-width:650px){
    .menu{
        display: none;
    }
    .menu-bar{
        display: none;
        visibility: hidden;
    }
   
}
.menu-bar{
   
    
    text-align: center;
    transition:  1s;
   position: fixed;
    overflow-y: hidden;
    text-decoration: none;
   
    width: 0%;
    right: 0;
    top: 0;
    bottom:0;
    background-color:#f3f3f3;
    z-index: 2;
    box-shadow: 6px 4px 20px;
    display: block;
    height: 650px;
    margin:0;
}

.menu {
    margin-left: 50px;
    background:#ffffff;
    border-radius: 10px;
    width: 50px;
    text-align: center;
    height: 50px;
    border: none;
    box-shadow: 2px 2px 4px;
}
@media screen and (min-width:580px){
   
}
.menu .material-symbols-outlined{
    
    cursor: pointer;
    text-decoration: none;
    
}
.menu .material-symbols-outlined:hover{
    height: 26px;
   
}
header{
    position: relative;
    z-index: 1;
   margin-top: 0px;
   background: none;
   
   padding: 10px;
   display: flex;
   justify-content: space-between;
   text-align: center;
   
}
body{
  background-image: url('images/Cutting.jpeg');
  
  background-position:center;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Arial', sans-serif;
  transition: background-color 3s;
  margin:0%;
  padding: 0%;
  
}

.text{
    margin: auto;
    display: block;
    color: #ffffff;
    backdrop-filter: blur(4px);
    width: 50%;
    font-weight: 100;
    cursor: default;
   
}
.get-started{
    margin: auto;
    display: block;
    margin-top: 100px;
}
.btn1{
    border-radius: 10px;
    border: none;
    height: 40px;
    width: 150px;
    cursor: pointer;
   
}
.btn2{
    border-radius: 10px;
    background-color: transparent;
    color: #ffffff;
    border: 2px solid white;
    height: 40px;
    width: 150px;
    cursor: pointer;
}
b{
   backdrop-filter: blur(10px);
}
.intro{
    display: block;
    margin: auto;
    width: 50%;
    cursor: default;
}
.intro-text{
    color: #ffffff;
   line-break: auto;
   font-size: 20px;
   backdrop-filter: blur(5px);
  text-align: center;
  
   display: flex;
   justify-content: center;
   align-items: center;
   
}
.main-div{
    display: flex;
    text-align: center;
    margin: auto;
}
.login{
    display: flex;
    margin: auto;
    margin-left: 40px;
    height: 40px;
    width: 150px;
    margin-top: 5px;
    border: 1px solid black;
    color: black;
    border-radius: 10px;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    background:transparent;
    
}
.menu-e{
   color: black;
   display: block;
   position: relative;
   text-decoration: none;
   text-transform: uppercase;
   font-weight: 300;
   padding: 20px;
   float: none;
   
}
.menu-e:hover{
    background-color: #ddd;
}
#btn{
    font-size: 30px;
    display: flex;
    padding: 12px;
    cursor: pointer;
}