/*to check whether it was linked properly*/

.logo{
	margin-top: 5px;
    height: 50px;
    width: 80px;
    margin-left:10px ;
    
}
hr{
    color: black;
}
div{
    display: flex;
    text-align: center;
    
}
.nav{
    list-style-type: none;
    display: flex;
    position: absolute;
    right: 50px;
}
.nav .a{
   
    text-decoration: none;
    color: black;
    display: flex;
    margin-top: 14px;
    margin-left: 40px;
    justify-content: space-between;
    font-weight: 300;
    text-transform: uppercase;
    transition: text-decoration 1s ;

}
.nav .a:hover{
    text-decoration: underline red 3px;
}
@media screen and (max-width:600px){
    .nav .a{
        display: none;
    }
    .login{
        display: none;
        visibility: hidden;
        
    }
    .menu-bar{
        display: none;
        
    }
}
@media screen and (min-width:600px){
    .menu{
        display: none;
    }
    .menu-bar{
        display: none;
        visibility: hidden;
    }
}
.menu-bar{
   
    
    text-align: center;
    transition: display 2s;
   position: fixed;
   overflow-x:hidden ;
    text-decoration: none;
    margin-right: 0%;
    width: 60%;
    right: 0;
    top: 0;
    background-color: white;
    z-index: 2;
    box-shadow: 6px 4px 20px;
    display: none;
    height: 100vh;
}

.menu {
    margin-left: 50px;
    background:#ffffff;
    border-radius: 3px;
    width: 50px;
    text-align: center;
    height: 50px;
    border: none;
    box-shadow: 2px 2px 4px;
}
@media screen and (min-width:580px){
   
}
.menu .material-symbols-outlined{
    
    cursor: pointer;
    text-decoration: none;
    
}
.menu .material-symbols-outlined:hover{
    height: 26px;
   
}
header{
    position: relative;
    z-index: 1;
   margin-top: 0;
   background-color: #ffffff;
   border-radius: 30px;
   padding: 10px;
   backdrop-filter: blur(5px);
   display: flex;
   justify-content: space-between;
   text-align: center;
   
}
body{
  background: url('images/Cutting.jpeg');
  height: 100%;
  background-position:center;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Arial', sans-serif;
  
}

.text{
    margin: auto;
    display: block;
    color: #ffffff;
    backdrop-filter: blur(4px);
    width: 50%;
    font-weight: 100;
    cursor: default;
   
}
.get-started{
    margin: auto;
    display: block;
    
}
.btn1{
    border-radius: 10px;
    border: none;
    height: 40px;
    width: 150px;
    cursor: pointer;
   
}
.btn2{
    border-radius: 10px;
    background-color: transparent;
    color: #ffffff;
    border: 2px solid white;
    height: 40px;
    width: 150px;
    cursor: pointer;
}
b{
   backdrop-filter: blur(10px);
}
.intro{
    display: block;
    margin: auto;
    width: 50%;
    cursor: default;
}
.intro-text{
    color: #ffffff;
   line-break: auto;
   font-size: 20px;
   backdrop-filter: blur(5px);
  text-align: center;
  
   display: flex;
   justify-content: center;
   align-items: center;
   
}
.main-div{
    display: flex;
    text-align: center;
    margin: auto;
}
.login{
    display: flex;
    margin: auto;
    margin-left: 40px;
    height: 40px;
    width: 150px;
    margin-top: 5px;
    border: 1px solid black;
    color: black;
    border-radius: 10px;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    background:transparent;
    
}
.menu-e{
   color: black;
   display: block;
   position: relative;
   text-decoration: none;
   text-transform: uppercase;
   font-weight: 300;
   padding: 20px;
   float: none;
   
}
.menu-e:hover{
    background-color: #ddd;
}
#btn{
    font-size: 30px;
    display: flex;
    padding: 12px;
    cursor: pointer;
}