/*to check whether it was linked properly*/

.logo{
	margin-top: 5px;
    height: 50px;
    width: 80px;
    margin-left:10px ;
    
}
hr{
    color: black;
}
div{
    display: flex;
    text-align: center;
    
}
.nav{
    
    position: absolute;
    display: flex;
    text-decoration: none;
    margin-left: 10px;
    text-align: end;
    right: 0;
    margin-right: 30px;
}
.nav .a{
    margin-left: 40px;
   
    text-decoration: none;
    color: black;
    display: flex;
    margin-top: 20px;
    
}
@media only screen and (max-width:400px){
    .nav .a{
        font-size: 12px;
    }
}
@media only screen and (max-width:350px){
    .nav .a{
       margin-left: 10px;
    }
}

/*.menu-bar{
    height: 600px;
    background-color: black;
    width: 200px;
 
    margin-top: 0%;
   color: black;
   text-align: center;
   position: absolute;
    top: 90px;
    right: 20px;
    width: 100%;
    height: 400px; 
    width: 200px;
    background-color:#ffffff; 
    z-index: 2;
    box-shadow: 6px 4px 20px;
    display: none;
    
}*/
.menu {
    margin-left: 50px;
    background:#ffffff;
    border-radius: 3px;
    width: 50px;
    text-align: center;
    border: 1px solid black;
    height: 50px;
    
}
@media screen and (min-width:580px){
   
}
.menu .material-symbols-outlined{
    
    cursor: pointer;
    text-decoration: none;
    
}
.menu .material-symbols-outlined:hover{
    height: 26px;
   
}
header{
    position: relative;
    z-index: 1;
   margin-top: 0;
   background-color: #ffffff;
   border-radius: 30px;
   height: 70px;
   min-width: 30px;
   max-width: 90%;
   margin: auto;
   
}
body{
  background: url('images/Cutting.jpeg');
  height: 100%;
  background-position:center;
  background-size: cover;
  background-repeat: no-repeat;
  
}

.text{
    margin: auto;
    display: block;
    color: #ffffff;
    backdrop-filter: blur(4px);
    width: 50%;
    font-weight: 100;
   
}
.get-started{
    margin: auto;
    display: block;
}
.btn1{
    border-radius: 10px;
    border: none;
    height: 40px;
    width: 150px;
   
}
.btn2{
    border-radius: 10px;
    background-color: transparent;
    color: #ffffff;
    border: 2px solid white;
    height: 40px;
    width: 150px;
}
b{
   backdrop-filter: blur(10px);
}
.intro{
    display: block;
    margin: auto;
    width: 50%;
}
.intro-text{
    color: #ffffff;
   line-break: auto;
   font-size: 20px;
   backdrop-filter: blur(5px);
  text-align: center;
  
   display: flex;
   justify-content: center;
   align-items: center;
   
}
.main-div{
    display: flex;
    text-align: center;
    margin: auto;
}