body{
    background: url('images/Cutting.jpeg');
    height: 100%;
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Arial', sans-serif;
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
} 


footer a{
    color: greenyellow;
}
.login-form{
    height: fit-content;
    width:400px ;
    text-align: center;
    border-radius: 12px;
   /** background-color: rgba(255, 255, 255, 0.9);**/
   backdrop-filter: blur(5px);
   border: 0.1px solid rgba(255, 255, 255, 0.9);
    
}

.login-input{
    width: 80%;
    height: 30px;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    font-size: 20px;
    background-color: transparent;
}

.login-input:focus {
    border-bottom: 2px solid #1b5e1b;
}
.btn1{
    width: 80%;
    height: 40px;
    margin-top: 20px;
    background: #1b5e1b;
    border: none;
    border-radius: 5px;
    transition: background 0.3s ease;
}
.btn1:hover {
    background: #149414;
}
.label{
    font-weight: 700;
}
#image{
    display: none;
    height: 50px;
    width: 50px;
    margin: auto;
    margin-bottom: 10px;
    border-radius: 10px;
}
@media screen and (max-height:400px){
    .login-form{
        height: fit-content;
        
    }
    .btn1{
        height: 30px;
    }
    .login-input{
        font-size: 18px;
        height: 15px;
    }
    .label{
        font-size: smaller;
    }
    #image{
        height: 40px;
        width: 40px;
        margin-bottom: 5px;
    }
}
@media screen and (max-width:500px){
    .login-form{
        width: 350px;
    }
}
.arrow{
    
    color: black;
    font-size: 40px;
    text-decoration: none;
    position: absolute;
    top: 0;
    left: 0;
    margin: 20px;
    box-shadow:
     2px 2px 4px
      rgba(0, 0, 0, 0.5);
   text-align: center;
    background: rgba(255, 255, 255, 0.9);
    width: 50px;
    border-radius: 10px;
}
::placeholder{
    text-align: left;
    
}
h1{

    font-weight: 900;
    color: white;
    font-size: 50px;
}