body {
    background: url(images/Cutting.jpeg);
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
   
    
}

.signup-form {
    width: 400px;
    text-align: center;
    border-radius: 12px;
    backdrop-filter: blur(5px);
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid white;
}

.signup-input {
    width: 80%;
    height: 30px;
    margin-top: 15px;
    
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    font-size: 16px;
    background-color: transparent;
}
.material-symbols-outlined{
    display: flex;
    z-index: 2;
    margin: 0%;
    right: auto;
}
.signup-input:focus {
    border-bottom: 2px solid #1b5e1b;
}

.btn1 {
    width: 80%;
    height: 40px;
    margin-top: 20px;
    background: #1b5e1b;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: background 0.3s ease;
}

.btn1:hover {
    background: #149414;
}

.label {
    font-weight: 400;
    margin-top: 10px;
    display: block;
    text-align: center;
}

.arrow{
    
    color: black;
    font-size: 40px;
    text-decoration: none;
    position: absolute;
    top: 0;
    left: 0;
    margin: 20px;
    box-shadow:
     2px 2px 4px 
      rgba(0, 0, 0, 0.5);
   text-align: center;
    background: rgba(255, 255, 255, 0.9);
    width: 50px;
    border-radius: 10px;z-index: 1;
    
}
@media screen and (max-width: 500px) {
    .signup-form {
    
            backdrop-filter: blur(5px);
            height: 100%;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            margin: auto;
            border-radius: 0%;
            width: 100%;
    }
    body{
        margin: 0%;
        overflow: hidden;
    }
    .arrow{
        background: none;
        box-shadow: none;
        z-index: 1;
    }
}
#error{
    color: red;
} 
#image{
    display: none;
    height: 50px;
    width: 50px;
    margin: auto;
    margin-bottom: 10px;
    border-radius: 10px;
   
}
h1{
    font-weight: 900;
    color: white;
    font-size: 50px;
    margin: 0%;
}